/* sidebar.css */
.sidebar {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 20px;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}
