<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    {% include 'sidebar.html' %}
    <div class="main-content">
        <h1>Welcome to recipe genius.</h1>
        <div class="options-container">
            <div class="option-box" onclick="window.location.href='{{ url_for('menu') }}'">
                <i class="fas fa-home"></i>
                <p>Menu</p>
            </div>
            <div class="option-box" onclick="window.location.href='{{ url_for('scan') }}'">
                <i class="fas fa-camera"></i>
                <p>Scan</p>
            </div>
            <div class="option-box" onclick="window.location.href='{{ url_for('search') }}'">
                <i class="fas fa-search"></i>
                <p>Search</p>
            </div>
            <div class="option-box" onclick="window.location.href='{{ url_for('fav') }}'">
                <i class="fas fa-heart"></i>
                <p>Favourite</p>
            </div>
            <div class="option-box" onclick="window.location.href='{{ url_for('setting') }}'">
                <i class="fas fa-cogs"></i>
                <p>Setting</p>
            </div>
        </div>
    </div>
</body>

</html>
